.home {
    margin: auto;
    max-width: 250px;
    h1{
        margin-top: 30px;
        font-family: 'Great Vibes', cursive;
        font-size: 45px;
        font-weight: bold;
        color: white;
        text-shadow: 0 2px 4px black;
    }
    .get-started{
        font-family: 'Great Vibes', cursive;
        
        margin: 80px auto 30px;
        padding: 15px;
        width: fit-content;
        background-color: #F7B32B;
        border-radius: 5px;
        border-style: outset;
        border-color: orange;
        &:hover {
            background-color: rgb(248, 224, 7);
            box-shadow: 0 0 15px gold;
            text-decoration: none;
            
        }
        h3 {
            font-size: 30px;
            color: white;
            font-weight: bold;
            text-shadow: 0 2px 4px black;
        }
        a {
            text-decoration: none;
        }
    }
    .home-intro {
        background-color: rgba($color: rgb(0, 0, 0), $alpha: .4);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        margin-top: 70px;
        box-shadow: 0 0px 10px gold;

        p {
            font-weight: bold;
            padding: 10px;
            margin: auto;
            color: white;
        }
    }
}
@media (min-width: 426px) {
    .home{
        max-width: 500px;
        h1{
            margin-top: 70px;
        }
        .home-intro {
            margin: 100px 20px auto 20px;
        }
    }
}

@media (min-width: 769px) {
    .home{
        .home-intro {
            margin-top: 140px;
        }
        p{
            font-size: 20px;
        }
        h1{
            font-size: 70px
        }
    }
}