.navbardesk {
    &:hover {
            text-shadow: 0 0 5px gold;
        }
    p {
        color: white;
        text-shadow: 0 0 10px black;
        
    }
}

@media (min-width: 426px) {
.navbardesk {
    font-weight: bold;
    padding-top: 5px;
    background-color: #7DD181;
    display: flex;
    justify-content: space-evenly;
  }

}