.race{
    margin: auto;
    max-width: 550px;
    .race-title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: 'Great Vibes',cursive;
        font-weight: bold;
        text-shadow: 0 2px 4px black;
    }
    .race-window {
        background-color: rgba($color: rgb(0, 0, 0), $alpha: .4);
        backdrop-filter: blur(5px);
        margin: 0px 35px;
        border-radius: 10px;
        box-shadow: 0 0 15px gold;
    }
    .icon {
        img{
            width: 80px;
        }
    }
    h1{
        color: white;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    p {
        color: white;
        padding: 20px;
    }
    button {
        font-family: 'Great Vibes', cursive;
        font-size: 30px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 20px;
        border-radius: 10px;
        text-shadow: 0 0 5px white;
        a{
            color: black;
            text-decoration: none;
            font-weight: bold;
        }
       
        } 
    .sativa {
        color: black!important;
        background-color: #F7B32B;

        &:hover {
            background-color: #fde36d;
            box-shadow: 0 0 10px #fde36d;
        }     
    }
    .indica {
        color: black!important;
        background-color: #3772FF ;

        &:hover {
            background-color:   #7bc4ff;
            box-shadow: 0 0 10px #7bc4ff;
        }
    }
    .hybrid {
        color: black!important;
        background-color: #C05746 ;

        &:hover {
            background-color:  #ffa86e;
            box-shadow: 0 0 10px #ffa86e;
        }
    }
}
@media (min-width: 426px) {
    .race-title {
        font-size: 50px;
    }
    .icon {
        img {
            width: 150px;
        }
    }
}