.race{
    margin: auto;
    max-width: 550px;
    .race-title {
        text-shadow: 0 0 10px black;
        text-decoration: underline;
        
    }
    .race-window {
        background-color: rgba($color: rgb(0, 0, 0), $alpha: .4);
        backdrop-filter: blur(5px);
        margin: 0px 35px;
        border-radius: 10px;
        box-shadow: 0 0 15px gold;
    }
    .icon {
        img{
            width: 80px;
        }
    }
    h1{
        color: white;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    p {
        color: white;
        padding: 20px;
    }
    button {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 20px;
        border-radius: 10px;
    }
}
@media (min-width: 426px) {
    .icon {
        img {
            width: 150px;
        }
    }
}