.race {
    margin-top: 20px;
    .race-list-title {
        font-family: 'Great Vibes', cursive;
        font-weight: bold;
        text-transform: capitalize;
        text-shadow: 0 2px 4px black;
    }
    .strain-bubble {
        background-color: rgba($color: rgb(0, 0, 0), $alpha: .4);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        margin: -15px 20px;
        
        &:hover {
            box-shadow: 0 0 10px gold;
        }
        h1 {
            font-size: 20px;
            padding: 5px;
        }
    }
}

@media (min-width: 426px) {
    .race-list-title{
        margin-top: 20px;
        font-size: 60px!important;
    }
}