

* {
  text-align: center;
}

body {
  
  background-image: linear-gradient(to right,transparent -10%,rgba(114, 18, 158, 0.726)50%, transparent 110%),url('https://i.imgur.com/MxsLizK.png'),url('https://i.imgur.com/NhXeVdK.png');
  background-position: center, left 25px, right -250px;
  background-repeat: repeat-y;
}

header {
   display: flex;
   justify-content: space-around;
}

button.button {
  max-width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}

home {
  text-align: center;
}
.eden-logo{
  height: 30px;
}

.title {
  margin-left:;
}
.navbardesk {
  display: none;
}

.nav-list {
  text-align: center;
  margin: auto;
}
.race {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

}

@media (min-width: 426px) {
  .eden-logo{
    height: 50px;
  }
  .title {
    text-align: center;
    margin-left: 5%;
  }
  
  .navbar-brand{
    margin-left: 0%;
    text-align: center;
    width: 100%;
  }
  .navbardesk {
    background-color: mediumspringgreen;
    display: flex;
    justify-content: space-evenly;
  }
    .hamburger, .nav-list{
    display: none!important;
  }
}
